<section class="ready-to-make" id="get-quote">
  <div class="ready-to-make__container">

    <div class="ready-to-make__illustration">
      <img src="../Design Images/Watergun.png" alt="Pressure washer illustration" class="ready-to-make__illustration-img">
    </div>

    <div class="ready-to-make__text">
      <p class="ready-to-make__line1">READY TO MAKE YOUR HOME</p>
      <p class="ready-to-make__line2">LOOK BETTER THIS WEEK?</p>
      <p class="ready-to-make__subtext">Send us a quick message and we'll get you a fast quote.</p>
    </div>

    <div class="ready-to-make__cta">
      <a href="#contact" class="ready-to-make__button">GET MY FREE QUOTE</a>
    </div>

  </div>

</section>
