<section class="what-we-clean" id="about">
  <div class="what-we-clean__container">
    <div class="what-we-clean__heading-wrap">
      <h2 class="what-we-clean__heading">WHAT WE CLEAN</h2>
      <div class="what-we-clean__accent"></div>
    </div>
    <div class="what-we-clean__grid">

      <div class="wwc-card">
        <div class="wwc-card__icon"><img src="../Design Images/Vector Icons/driveways_vector.png" alt="Driveways"></div>
        <span class="wwc-card__label">DRIVEWAYS</span>
      </div>

      <div class="wwc-card">
        <div class="wwc-card__icon"><img src="../Design Images/Vector Icons/sidewalks_vector.png" alt="Sidewalks"></div>
        <span class="wwc-card__label">SIDEWALKS</span>
      </div>

      <div class="wwc-card">
        <div class="wwc-card__icon"><img src="../Design Images/Vector Icons/patios_vector.png" alt="Patios"></div>
        <span class="wwc-card__label">PATIOS</span>
      </div>

      <div class="wwc-card">
        <div class="wwc-card__icon"><img src="../Design Images/Vector Icons/front_entryways_vector.png" alt="Front Entryways"></div>
        <span class="wwc-card__label">FRONT ENTRYWAYS</span>
      </div>

      <div class="wwc-card">
        <div class="wwc-card__icon"><img src="../Design Images/Vector Icons/garage_doors_vector.png" alt="Garage Doors"></div>
        <span class="wwc-card__label">GARAGE DOORS</span>
      </div>

      <div class="wwc-card">
        <div class="wwc-card__icon"><img src="../Design Images/Vector Icons/trash_cans_vector.png" alt="Trash Cans"></div>
        <span class="wwc-card__label">TRASH CANS</span>
      </div>

      <div class="wwc-card">
        <div class="wwc-card__icon"><img src="../Design Images/Vector Icons/pool_decks_vector.png" alt="Pool Decks"></div>
        <span class="wwc-card__label">POOL DECKS</span>
      </div>

      <div class="wwc-card">
        <div class="wwc-card__icon"><img src="../Design Images/Vector Icons/hoa_cleanup_vector.png" alt="HOA Cleanup"></div>
        <span class="wwc-card__label">HOA CLEANUP</span>
      </div>

    </div>
  </div>
</section>
